Python Type Data Conversion

The process of converting the value of one data type (integer, string, float, etc.) to another data type is called type conversion. Python has two types of type conversion.

- Implicit Type Conversion
- Explicit Type Conversion

Implicit Type Conversion

In Implicit type conversion, Python automatically converts one data type to another data type. This process doesn't need any user involvement.

In [3]:
ex_integer = 350
ex_float = 4.35

new = ex_integer + ex_float

print("Value ex_integer:", ex_integer)
print("Value ex_float:", ex_float)
print("Value new:", new)

print("Data type of ex_int:",type(ex_integer))
print("Data type of ex_flo:",type(ex_float))
print("Data type of new:",type(new))

Data type of ex_int: <class 'int'>
Data type of ex_flo: <class 'float'>
Data type of new: <class 'float'>

In the above program,

- We add two variables ex_integer and ex_float, storing the value in new.
- We will look at the data type of all three objects respectively.
- In the output, we can see the data type of ex_integer is an integer while the data type of ex_float is a float.
- Also, we can see the new has a float data type because Python always converts smaller data types to larger data types to avoid the loss of data.

This is what call implisit type conversion.

But it is useless to string data type.

Explicit Type Conversion

In Explicit Type Conversion, users convert the data type of an object to required data type. We use the predefined functions like int(), float(), str(), etc to perform explicit type conversion.

This type of conversion is also called typecasting because the user casts (changes) the data type of the objects.

Syntax :

\<required_datatype>(expression)


Typecasting can be done by assigning the required data type function to the expression.

In [9]:
ex_int = 350
ex_flo = 4.35
ex_str = "50.5"

print("Value ex_int:", ex_int)
print("Value ex_flo:", ex_flo)
print("Value ex_str:", ex_str)

print("Data type of ex_int:",type(ex_int))
print("Data type of ex_flo:",type(ex_flo))
print("Data type of ex_str:",type(ex_str))

print("********************************************************")

ex_flo = int(ex_flo)
ex_int = str(ex_int)
ex_str = float(ex_str)

print("Data type of ex_flo after Type Casting:",type(ex_flo))
print("Data type of ex_int after Type Casting:",type(ex_int))
print("Data type of ex_str after Type Casting:",type(ex_str))

print("Value ex_int:", ex_int)
print("Value ex_flo:", ex_flo)
print("Value ex_str:", ex_str)

Value ex_int: 350
Value ex_flo: 4.35
Value ex_str: 50.5
Data type of ex_int: <class 'int'>
Data type of ex_flo: <class 'float'>
Data type of ex_str: <class 'str'>
********************************************************
Data type of ex_flo after Type Casting: <class 'int'>
Data type of ex_int after Type Casting: <class 'str'>
Data type of ex_str after Type Casting: <class 'float'>
Value ex_int: 350
Value ex_flo: 4
Value ex_str: 50.5

In the above program,

- We add three variables ex_int, ex_flo, and ex_str
- We will look at the data type of all three objects respectively.
- In the output, we can see the data type of ex_int is an integer, ex_str is an string, while the data type of num_flo is a float.
- We converted ex_flo from float(higher) to integer(lower) type using int() function to perform the addition. ex_int from integer to string type using str() function. ex_str from string to float type using float()

We can also doing conversion with data list, tuple, and set

In [11]:
data_list=["null", "Science", 10, 6.0, "MEMBER"]
data_set=("null", "data", 2, 10.0, "6 Member")

print("Data list:",data_list)
print("Data set:",data_set)

print("List to Set:", set(data_list))
print("Set to Tuple:", tuple(data_set))

Data list: ['null', 'Science', 10, 6.0, 'MEMBER']
Data set: ('null', 'data', 2, 10.0, '6 Member')
List to Set: {'MEMBER', 6.0, 10, 'Science', 'null'}
Set to Tuple: ('null', 'data', 2, 10.0, '6 Member')

For conversion to a dictionary, the data must meet the key-value requirements. Here are two examples of conversions:

- List of several lists whose contents are value pairs into a dictionary.
- As well as converting a list of tuples containing value pairs into a dictionary

In [13]:
[["Name","Null Science"],["Member",6]]
print("Dictionary conversion:",dict([["Name","Null Science"],["Member",6]]))

Dictionary conversion: {'Name': 'Null Science', 'Member': 6}