**OPERATION in list, set, and String**

##**len()**
> len() will returns the length of an object

In [1]:
# List
a_list = [3,5,5,7,7,7]

In [ ]:
print(a_list)

In [ ]:
len(a_list)

In [4]:
# Set
a_set = {3,5,5,7,7,7}

In [ ]:
print(a_set)

In [ ]:
len(a_set)

In [7]:
a_string = "Python Operation"

In [ ]:
len(a_string)

## **min() and max()**
> min() return the lowest value, and max return the highest value

In [ ]:
min(a_list)

In [ ]:
max(a_list)

##**count()**
> Data Occurance

In [ ]:
a_list.count(7)

In [ ]:
a_set.count(7) #can't use count in set

## **Merging (+) and replication (*)**

In [13]:
a_merging = [1, 9, 9, 1]
s_merging = ['p', 'y', 't', 'h', 'o', 'n']

In [ ]:
# Merging
s_merging + a_merging

In [ ]:
# Replication
s_merging * 2

we can using replication for List

In [16]:
initi = [2,7,11]*3

In [ ]:
print(initi)

##**range()**
> usually used for loop processes. We can use the range() in 3 ways (parameters). And it will look similar to Slicing data on a List

**1 Parameter --- :: range(n)**
> from 0 to n

In [ ]:
for i in range(3):
  print(i*2)

**2 Parameters --- range(x,n)**
> from x (*inclusive*) to n (*exclusive*)

In [ ]:
for i in range (2, 11):
  print(i)

**3 Parameters --- :: range(x,n,y)**
> from x to n with y step

In [ ]:
for i in range(5,10,2):
  print(i)

##**Multiple Value using List [ ]**
> using new variable to assign a list index

In [21]:
ponethic = ["Alpha", "Tokyo", "Zeta"]

In [ ]:
print(ponethic)

In [23]:
new_pone = ponethic[2]

In [ ]:
print(new_pone)

simple multiple list declaration

In [27]:
# List
alph_list = ["P", "Y", "T", "H", "O", "N"]

In [28]:
p, y, t, h, o, n = alph_list

In [ ]:
print(o)

In [34]:
# Tuple
alph_tuple = ("P", "Y", "T","H", "O", "N")

In [35]:
pt, yt, tt, ht, ot, nt = alph_tuple

In [ ]:
print(yt)

##**sort()**
> sorting a value from numerical or string

In [37]:
# Numerical
val = [20, 10, 2, 33, 7]

In [38]:
val.sort()

In [ ]:
print(val)

In [40]:
# String
val_str = ["Mike", "India", "Oscar"]

In [41]:
val_str.sort()

In [ ]:
print(val_str)

**reverse the sorting** to become a Descending

In [43]:
val_str.sort(reverse=True)

In [ ]:
print(val_str)

**Can't sorting a numerical together with string in one List !!**

sorting String ---- **Uppercase > Lowercase**

In [45]:
uplow = ["Quebec", "tango", "india", "Oscar", "alpha"]

In [46]:
uplow.sort()

In [ ]:
print(uplow)

we can generalize the string by making it lowercase

In [48]:
uplow.sort(key=str.lower)

In [ ]:
print(uplow)